@font-face {
    font-family: 'Inter1';
    src: url('../../fonts/Inter/static/Inter-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter-regular';
    src: url('../../fonts/Inter/static/Inter-Regular.ttf');
    font-style: normal;
    font-weight:600;

}

@font-face {
    font-family: 'Inter-bold';
    src: url('../../fonts/Inter/static/Inter-Bold.ttf');
    font-style: normal;
    font-weight:400;

}

.add-tem{
    cursor: pointer;
}

.popup-container{
    width: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.popup-dialog-content{
    padding: 0px;
    margin: 0px;

}
.popup-side-pane{
    flex: 0.6;
    height: 100%;
    background: rgba(0, 0, 0, 0.035);
    border-right: 0.8px solid rgba(0, 0, 0, 0.08);
    padding:10px;

}

.popup-body-pane{
    flex: 1;
    height: 100%;
    background: rgba(0, 0, 0, 0.02);

}

.lulink-icon{
    transform: rotate(90deg);
    font-weight: 700;
}

.popup-pane-list-title{
    opacity: 0.8;
    font-size: 14px;
    
}

.colored-icon-1{
    width:8px;
    height: 8px;
    background-color: #0C8CE9;
    opacity: 1;
}


.colored-icon-2{
    width:8px;
    height: 8px;
    background-color: #00B562;
    opacity: 1;
}


.colored-icon-3{
    width:8px;
    height: 8px;
    background-color: rgba(255, 0, 0,0.8);
    opacity: 1;
}

.hor-zon-tal-view{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
}

.hor-zon-tal-view-x{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
}

.add-developers-button-text{
    font-size: 10px;
    font-family: 'Inter-regular';
    font-weight: 700;
}

.column-based-view{
    display: grid;
    grid-template-columns: 1fr;
}

.gmail-view-of-dev{
    opacity: 0.8;
    font-family: 'Inter-regular';
    font-size: 11.2px;
}

.cursor-hover{
    cursor: pointer;
}


.rail-top-view-items{
    display: grid;
    grid-template-columns: 0.22fr 0.8fr 0.4fr;
}

.sidebar-container{
    display: grid;
    grid-template-rows: 1fr 0.16fr;
    padding: 10px;
    width: 100%;
}


.rail-gray{
    width: 100%;
    height: 4px;
    background-color:rgba(0, 0, 0, 0.095);
    border-radius: 5px;
    position: relative;
}

.rail-gray-progress{
    height: 4px;
    width: 30%;

}

.rail-progress-1{
    background-color: #FF9E1C;
    border-radius: 5px;
}


.rail-progress-2{
    background-color: #0c8ce9;
    border-radius: 5px;

}


.rail-progress-3{
    background-color: #00B562;
    border-radius: 5px;

}

.last-week-report-button{
    width: 100%;
    height: 45px;
    border-radius: 9px;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    padding: 8px;
}

.last-week-report-button-text-1{
    font-size: 9px;
    font-family: 'Inter-semibold';
    opacity: 0.88;
}


.last-week-report-button-text-2{
    font-size: 10px;
    font-family: 'Inter-semibold';
    opacity: 0.7;
    color: #111111;
    opacity: 0.6;
}

.last-week-report-button-icon{
    width:15px;
    height:15px;
    opacity: 0.89;
    margin-top: 7px;
}