@font-face {
    font-family: 'Inter1';
    src: url('../../../fonts/Inter/static/Inter-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter-regular';
    src: url('../../../fonts/Inter/static/Inter-Regular.ttf');
    font-style: normal;
    font-weight:600;

}

@font-face {
    font-family: 'Inter-bold';
    src: url('../../../fonts/Inter/static/Inter-Bold.ttf');
    font-style: normal;
    font-weight:400;

}

@font-face {
    font-family: 'Inter-semibold';
    src: url('../../../fonts/Inter/static/Inter-SemiBold.ttf');
    font-style: normal;
    font-weight:400;

}

.dashboad-container{
    display: grid;
    grid-template-rows: 0.05fr 1fr;
    height: 100%;
}

.dashboard-top-view{
    width:100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    padding: 20px;
    padding-bottom: 6px;

}

.top-view-text{
   
    background: rgba(255, 255, 255, 0.6);
}

.top-view-text-card{
    width:100%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 11.8px;
    padding:10px;
    font-family: 'Inter-regular';
    opacity: 0.78;
}
.dashboard-top-view-title{
    font-size: 14.5px;
    font-family: 'Inter-semibold';
    opacity: 0.8;
}
.cursor{
    cursor: pointer;
}

.task-render-dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 7px;

    
}
.view-history-button{
    font-family: 'Inter-regular';
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
    font-size: 12.6px;
    padding-top: 4px;
    cursor: pointer;
}

.task-card{
    width: 100%;
    height: 170px;
    
}

.activity-card{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
}
.task-card-title{
    font-weight: 500;
    opacity: 0.8;
    font-size: 13px;
    font-family: 'Inter-semibold';

}

.task-card-description{
    font-size: 12px;
    opacity: 0.8;
    font-family: 'Inter-regular';
}

.task-card-duration{
    opacity: 0.8;
    font-size: 12px;
    font-family: 'Inter-regular';

}

.avatar-views{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    flex: 0.1;
    margin-left: 25px;
}

.task-card-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -15px;
}

.task-card-budget-text{
    flex: 1;
    font-size: 12px;
    padding-left: 10px;
    color: rgba(12, 140, 233,0.7);
    font-family: 'Inter-regular';

}

.task-card-points{
    flex: 0.04;
    font-size: 12px;
    padding-left: 10px;
    opacity: 0.77;
    font-family: 'Inter-regular';




}

.before-render-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7px;
    width: 100%;
    height: 25px;
    
}

.before-render-data-icon{
    flex:0.12;
    font-size: 12px;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
    margin-top: 0px;
}

.before-render-data-icon-2{

    width:13.6px;
    height:13.6px;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
}
.before-render-data-text{
    flex:1;
    opacity: 0.8;
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Inter-regular';
}


.dashboard-chart-view{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-rows: 0.3fr 1fr 0.1fr;
    padding: 6px;
}

.dashboard-chart-view-chart{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
}

.dashboard-chart-view-top{
    display: grid;
    grid-template-columns: 0.5fr 0.6fr 0.3fr;
    gap: 8px;
}

.dashboard-chart-view-top-title{
    font-family: 'Inter-semibold';
    opacity: 0.77;
    font-size: 12px;
    margin-top: -4px;
}

.dashboard-chart-view-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
}

.dashboard-chart-view-bottom-text-right{
    opacity: 0.6;
    font-family: 'Inter-regular';
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
}


.dashboard-chart-view-bottom-text-left{
    opacity: 0.6;
    font-family: 'Inter-regular';
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}

.create-task-grid-item-text{
    font-size: 13px;
    font-family: 'Inter-regular';

}

.dashboard-chart-view-bottom-text{
    font-size: 10px;
    font-family: 'Inter-semibold';
    opacity: 0.4;
}

.chart-view{
}

.dashboard-chart-view-top-icon-round-1{
    width: 10px;
    height: 10px;
    background: #FF9E1C;
    border-radius: 100px;
}


.dashboard-chart-view-top-icon-round-2{
    width: 10px;
    height: 10px;
    background: #0c8ce9;
    border-radius: 100px;
}


.dashboard-chart-view-top-icon-round-3{
    width: 10px;
    height: 10px;
    background: #00B562;
    border-radius: 100px;
}

.dashboard-chart-view-top-icon-text{
    font-family: 'Inter-semibold';
    font-size: 11px;
    opacity: 0.8;
}

.chart-item-text{
    font-family: 'Inter-regular';
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
    font-size: 12.6px;

}

.chart-view-line{
    width: 100%;
    height: 100%;
}

.scrollview-partion-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

.before-render-data-text-with-icon{
    display: flex;
    flex-direction: row;
}

.activity-title{
    font-family: 'Inter-semibold';
    opacity: 0.8;
    font-size: 12px;

}

.activity-description{
    font-family: 'Inter-regular';
    font-size: 12px;
    opacity: 0.7;

}

.activity-date{
    font-family: 'Inter-regular';
    font-size: 12px;
    opacity: 0.7;


}

.share-button{
    padding: 4px;
    font-size: 12px;
    font-family: 'Inter-semibold';
    opacity: 0.7;
    border-radius: 9px;
    width: 70px;
    height: 26px;
    text-align: center;
    cursor: pointer;
}

.top-view-components{
    display: grid;
    grid-template-columns: 1fr 0.33fr;
}

.top-title-view{
    text-align: left;
}

.share-rear{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
}

.share-rear-avatars{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.share-rear-avatars{
    width: 27px;
    height: 27px;
}

.border-line{
    border: 1px solid rgba(0, 0, 0, 0.08)
}